node_modules
.env
coverage
coverage.json
typechain

# notebooks
.ipynb_checkpoints
**/data/

#Hardhat files
cache
artifacts
package-lock.json

#IDEs
.vscode/
.DS_Store

# misc
srv/*
!srv/sample
srv/sample/*
!srv/sample/1exportModel.py
!srv/sample/2setupCircuit.py